.categoryContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 5rem;
  background-color: #013398;
}
.category h1 {
  border-bottom: 1px solid #171fe2;
  width: 100%;
  padding: 60px 0px 36px 0px;
  font-size: 54px;
  margin-bottom: 0px;
  color: #000;
}

.financial {
  display: flex;
  height: 94px;
  align-items: center;
  border-bottom: 1px solid #ffffff50;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  /* position: relative; */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: color 1000ms;
  transition: color 1000ms;
}
.financial:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: #990000;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}
.financial:hover:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.financial h4 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-left: 5px;
  margin-bottom: 0rem;
}
.financial:hover h4 {
  /* color: #013398; */
  color: #fff;
  padding-left: 10px;
  transition: all 0.3s ease;
}
.financial svg {
  position: absolute;
  right: 10px;
  rotate: -45deg;
}

.financial:hover svg {
  rotate: 0deg;
  /* fill: #013398; */
  fill: #fff;
}
.financial svg path {
  fill: #fff;
}

@media screen and (max-width: 480px) {
  .container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 700px;
    padding: 0px 24px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .category h1 {
    border-bottom: 1px solid #171fe2;
    width: 100%;
    padding: 0px 0px 10px 0px;

    font-size: 32px;
    margin-bottom: 0px;
    color: #000;
  }

  .financial {
    display: flex;
    height: 105px;
    align-items: center;

    border-bottom: 1px solid #171fe2;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    /* position: relative; */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: color 1000ms;
    transition: color 1000ms;
  }
  .financial:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: #990000;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
  }
  .financial:hover:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  .financial h4 {
    color: #000;
    font-size: 22px;
    font-weight: bold;
    margin-left: 5px;
  }
  .financial:hover h4 {
    color: #013398;
    padding-left: 10px;
    transition: all 0.3s ease;
  }
  .financial svg {
    position: absolute;
    bottom: 8px;
    right: 10px;
    rotate: -45deg;
  }

  .financial:hover svg {
    rotate: 0deg;
    fill: #013398;
  }
}
