.footer {
  padding: 3rem 0rem;
  background: transparent linear-gradient(180deg, #001f36 0%, #2b0000 100%) 0%
    0% no-repeat padding-box;
}
.footer h2 {
  font-size: 1.5em;
  margin-bottom: 2.5rem;
}
.footer h2,
.footer h3 {
  color: #fff;
}
.footer p,
.footer address {
  color: #adadad;
  font-size: 0.875rem;
}
.footer h3 {
  font-size: 0.9125rem;
}
.footerLogo {
  width: 140px;
}
.list1 li {
  list-style: none;
  padding-bottom: 18px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.list2 li {
  list-style: none;
  padding-bottom: 18px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.list2 h2 {
  font-size: 23px;
  color: #fff;
  font-weight: bold;
  padding-bottom: 18px;
}

.copyrightSection {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 70px;
  background-color: #000000;
}
.iconMedia {
  width: 30px;
  height: 30px;
  border-radius: 0.25rem;
  margin-right: 1rem;
}
/* .socialLogos {
  display: flex;
  justify-content: space-between;
}
.socialLogos svg {
  margin-right: 1rem;
  border-radius: 0.25rem;
} */
.copyright {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 0rem;
  color: #fff;
  background-color: #013398;
}
.copyright p {
  font-size: 0.75rem;
  margin-bottom: 0rem;
}

@media screen and (max-width: 480px) {
  .footerLogo {
    height: 38px;
    width: 191px;
    padding: 0px 12px;
    margin-top: 42px;
    margin-bottom: 42px;
  }
  .row1 {
    margin-top: 22.5px;
    padding: 0px 12px;
  }
  .list1 li {
    list-style: none;
    padding-bottom: 18px;
    color: #fff;
    font-size: 14px;
  }
  .list2 li {
    list-style: none;
    padding-bottom: 18px;
    color: #fff;
    font-size: 14px;
  }
  .list2 h2 {
    font-size: 23px;
    color: #fff;
    font-weight: bold;
    padding-bottom: 26px;
    padding-top: 43px;
  }

  .copyrightSection {
    background-color: #000000;
    padding: 0 70px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
