.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.4s ease;
  z-index: 9999;
  overscroll-behavior: none;
}

.navbar {
  display: flex;
  position: relative;
  width: 100%;
  /* padding: 0 50px; */
  height: 80px;
  background-color: #f7f7f7;
}
.navbar.home {
  background-color: transparent;
}
.navbarBlack {
  display: flex;
  position: relative;
  width: 100%;
  /* padding: 0 50px; */
  height: 80px;
  background-color: #000;
}

.navbarAbout {
  background-color: #171fe2;
}

.navbarService {
  background-color: #000000;
}

.hideNavbar {
  top: -300px;
}
.logo {
  width: 150px;
  /* 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px; */
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}

.logo img {
  width: 140px;
  height: auto;
}
#myDIV {
  display: none;
  width: 100%;
  padding: 50px 0;
  text-align: center;
  margin-top: 20px;
}
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
  margin-right: 1rem;
}

.hamburger div {
  width: 30px;
  height: 1px;
  background-color: #000;
  display: inline;
  border-radius: 2.5px;
  transition: all 0.5s ease-in-out;
}
.hamburgerWhite div {
  width: 30px;
  height: 1px;
  background-color: #fff;
  display: inline;
  border-radius: 2.5px;
  transition: all 0.5s ease-in-out;
}
#menu .hamburger div:nth-child(1) {
  transform: translateY(12.5px) rotate(45deg);
}

#menu .hamburger div:nth-child(2) {
  opacity: 0;
}

#menu .hamburger div:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
  list-style: none;
  text-decoration: none;
}

.nav li {
  font-size: 14px;
  height: 20px;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.nav li:last-child {
  margin-right: 0rem;
}

.nav li,
.nav li a {
  color: #013398;
  transition: background-color 500ms, color 500ms;
  text-decoration: none;
}
.home .nav li,
.home .nav li a {
  color: #fff;
}

/* .navService li,
.navService li a {
  color: #ffffff;
}

.navAbout li,
.navAbout li a {
  color: #ffffff;
} */

.navAbout .navbarService li:nth-child(1) {
  position: relative;
}

/* .navbarService li:nth-child(1)::after {
  content: "";
  background: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 40%;
} */

@media screen and (max-width: 480px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 0 24px !important;
    height: 80px;
  }
  .navbarBlack {
    display: flex;
    position: relative;
    width: 100%;
    padding: 0 0px;
    height: 80px;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    height: 52px;

    /* border: 1px solid red; */
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    cursor: pointer;
  }
  /* .navbar {
    height: 10vh;
    padding: 0;
    transition: top 300ms;
    

    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;
  } */

  .logo img {
    height: 40px;
  }

  .hamburger {
    display: flex;
    padding-right: 0px;
  }

  .nav {
    display: none;
  }
}

@media screen and (min-width: 760px) and (max-width: 1000px) {
  .navbar {
    height: 10vh;
    padding: 0;
    transition: top 300ms;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .logo {
    width: 30vw;
    padding-top: 5px;
    padding-right: 40px;
    /* border: 1px solid red; */
  }

  .logo img {
    height: 40px;
  }

  .hamburger {
    display: flex;
  }

  .nav {
    display: none;
  }
}
