.serviceDrop {
  position: fixed;
  background-color: #000000;
  width: 100%;
  height: fit-content;
  /* border: 1px solid red; */
  font-style: poppins !important;
  padding: 20px 0;
  padding-bottom: 30px;
  z-index: 2;
}

.serviceOverlay {
  position: fixed;
  background-color: #00000036;
  width: 100%;
  height: -moz-fit-content;
  bottom: 0px;
  top: 80px;
  z-index: 1;
}

.serviceDrop h4 {
  font-size: 18px;
  font-weight: 600;
}

.serviceDrop p {
  margin: 16px 0px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
}

.services p:hover {
  color: #171fe2;
}

.services a {
  /* border: 1px solid #ffffff; */
  text-decoration: none;
  color: #ffffff;
}

.services a:hover {
  color: #171fe2;
}

@media screen and (max-width: 480px) {
  .serviceDrop {
    position: relative;
    background-color: transparent;
    width: 100%;
    font-style: poppins !important;
    padding: 20px 0px;
    padding-bottom: 0px;
    margin-left: -46px;
  }
  .serviceOverlay {
    position: fixed;
    background-color: transparent;
    width: 100%;
    height: 0;
    bottom: 0px;
    top: 0px;
    z-index: 0;
  }
  .serviceDrop h4 {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    margin-top: 30px;
  }

  .serviceDrop p {
    width: 300px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
  }

  .services p:hover {
    color: #171fe2;
  }

  .services a {
    /* border: 1px solid #ffffff; */
    text-decoration: none;
    color: #ffffff;
  }

  .services a:hover {
    color: #171fe2;
  }
}
