.landingContainer {
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  font-family: var(--font-mono);
  background-position: 110% 750%;
  background-size: 530px;
}

.landingSection {
  background-image: url("../public/LandingSection-Background.svg");
  background-repeat: no-repeat;
  background-position-x: right;
}

.preHeading {
  font-size: 20px;
  color: #fff;
}

.heading {
  font-size: 3rem;
  color: #fff;
}

.scrollingTextContainer {
  width: 100%;
  height: 307px;
  background-color: #000;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 10px;
}

.scrollingText {
  color: #fff;
  display: inline-block;
  white-space: nowrap;
  animation: scroll 20s linear infinite;
}
.serviceBannerText {
  font-size: 54px;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.serviceDescription {
  width: 100%;
  height: 459px;
  font-size: 18px;
  background: #171fe2 url("../public/assets/images/Rectangle.png") 0% 0%
    no-repeat padding-box;
  background-position-x: right;
  /* background-position: 1000px; */
  color: #ffffff;
  line-height: 30px;
}

.serviceBigPic {
  width: 100%;
  height: 819px;
  background: transparent url("../public/assets/images/ServiceBigPic.png") 0% 0%
    no-repeat padding-box;
  background-size: cover;
  background-position-x: right;
}

.serviceImage {
  width: 100%;
}

.bigPicText {
  font-size: 54px;
}

.getInTouch {
  width: 100%;
  height: 296px;
  background-color: #171fe2;
  color: #ffffff;
}

.getInTouchHeading {
  font-size: 54px;
}

.getInTouchLower {
  display: flex;
  justify-content: space-between;
  height: 59px;
  /* border: 1px solid #fff; */
}

.getInTouchText {
  font-size: 18px;
}

.getInTouchButton {
  width: 168px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.getInTouchButtonText {
  color: #000000;
  font-size: 16px;
  cursor: pointer;
}

/*-----Service Details CSS------*/
.serviceDetailsContainer {
  width: 100%;
  padding: 5rem 0rem;
  background-color: #fff;
}
.serviceDetailsContainer h2 {
  font-weight: bold;
}
/* .serviceDetailsContainer .border {
  position: relative;
  width: 400px;
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: 8px solid #003398;
}
.serviceDetailsContainer .border:before {
  position: absolute;
  background: #990000;
  height: 8px;
  content: "";
  width: 120px;
  bottom: -8px;
  left: 0;
} */
.serviceDetailsContainer .description {
  font-size: 0.875rem;
  margin-top: 1rem;
}

@media screen and (max-width: 480px) {
  .landingContainer {
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    font-family: var(--font-mono);
    background-position: 110% 750%;
    background-size: 530px;
    padding: 0px 12px;
  }

  .landingSection {
    background-image: none;
    background-repeat: no-repeat;
    background-position-x: right;
    /* height: 80px; */
    /* margin-bottom: 100px; */
    /* border: 1px solid red; */
  }

  .preHeading {
    font-size: 18px;
    color: #000;
  }

  .heading {
    font-size: 32px;
    color: #000;
  }

  .serviceBannerText {
    font-size: 32px;
    width: 678px;
  }

  .serviceDescription {
    width: 100%;
    height: auto;
    font-size: 18px;
    background: #171fe2 url("../public/assets/images/Rectangle.png") 0% 0%
      no-repeat padding-box;
    background-position-x: right;
    /* background-position: 1000px; */
    color: #ffffff;
    line-height: 30px;
    padding: 40px 12px;
  }

  .serviceBigPic {
    width: 100%;
    height: 215px;
    background: transparent url("../public/assets/images/ServiceBigPic.png") 0%
      0% no-repeat padding-box;
    background-size: cover;
    background-position-x: right;
    padding: 20px 12px;
  }

  .bigPicText {
    font-size: 18px;
  }

  .getInTouch {
    width: 100%;
    height: 296px;
    background-color: #171fe2;
    color: #ffffff;
    padding: 0px 12px;
  }

  .getInTouchHeading {
    font-size: 32px;
  }

  .getInTouchLower {
    display: flex;
    justify-content: space-between;
    height: 0px;
    /* border: 1px solid #fff; */
  }

  .getInTouchText {
    font-size: 18px;
  }

  .getInTouchButton {
    width: 168px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
  }

  .getInTouchButtonText {
    color: #000000;
    font-size: 16px;
    cursor: pointer;
  }

  .scrollingTextContainer {
    width: 100%;
    height: 100px;
    background-color: #000;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2.5px;
  }

  .scrollingText {
    color: #fff;
    display: inline-block;
    white-space: nowrap;
    animation: scroll 10s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
