.container {
  position: fixed;
  top: 66px;
  width: 100%;
  flex-direction: column;
  background-color: #000;
  height: calc(100% - 66px);
  transition: all 0s;
  padding: 0px 24px;
  padding-bottom: 24px;
  z-index: 3;
}

.socialLogos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyright {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 0px !important;
}
@media screen and (min-width: 600px) {
  .container {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .container {
    display: block;
    height: calc(100% - 66px);
    background-color: #000;
  }
  .container li {
    list-style: none;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 45px;
    padding-left: 0px;
  }
  .copyright {
    padding: 0px 0px;
  }
  .socialLogos {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0px !important;
    gap: 34px;
  }

  .facebook {
    width: 35px;
    height: 35px;
    margin-right: 12px;
  }
  .copyright {
    display: flex;
    align-items: flex-start;
  }
  .copyright h6 {
    width: 80%;
    padding: 0px 0px;
    color: #fff;
  }
}

@media screen and (max-width: 820px) {
  .container {
    display: block;
    height: calc(100% - 66px);
    background-color: #000;
  }
  .container li {
    list-style: none;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 45px;
    padding-left: 0px;
  }
  .copyright {
    padding: 0px 0px;
  }
  .socialLogos {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0px !important;
    gap: 34px;
  }

  .facebook {
    width: 35px;
    height: 35px;
    margin-right: 12px;
  }
  .copyright {
    display: flex;
    align-items: flex-start;
  }
  .copyright h6 {
    width: 80%;
    padding: 0px 0px;
    color: #fff;
  }
}
@media screen and (max-width: 920px) {
  .container {
    display: block;
  }
}
